<div class="main" style="background:url('assets/узор.png'); height: 700px;">
<img src="assets/волна.png"  height="80" width="200" id="icon">
<h1 id="name">AQUAMARINE</h1>
<p id="p1">Увлеченная команда видеоблогеров и профессионалов рекламы</p>
<p id="p2">Мы реализуем рекламные проекты у блогеров, создавая решения для достижения наилучшего результата.<br>
Наши проекты повышают лояльность к бренду и увеличивают продажи.</p>
<p id="p3"><span id="new_company">Я новая компания и хочу </span><a  id="reg_but" class="closing-button"><span>Зарегестрироваться</span></a></p>
</div>
